<!DOCTYPE html>
<html lang="cn">
<head>
    <title>南溟有猫</title>
    <% include("/common/meta.html"){} %>
</head>
<body>
<%
var labelList = obj.labelList!,
labelCount = obj.labelCount!;
%>
<div class="container sidebar-position-left page-post-detail">
    <% include("/common/header.html"){} %>
    <main id="main" class="main">
        <div class="main-inner">
            <div class="content-wrap">
                <div id="content" class="content">
                    <div id="posts" class="posts-expand">
                        <div class="post-block page" style="opacity: 1; display: block;">
                            <header class="post-header" style="opacity: 1; display: block; transform: translateY(0px);">
                                <h2 class="post-title" itemprop="name headline">分类</h2>
                                <div class="post-meta"></div>
                            </header>
                            <div class="post-body" style="opacity: 1; display: block; transform: translateY(0px);">
                                <div class="tag-cloud">
                                    <div class="tag-cloud-title"> 目前共计 ${labelCount!} 个分类</div>
                                    <div class="tag-cloud-tags">
                                        <% for (label in labelList) { %>
                                        <a id="label${label.labelId!}" href="/label/${label.labelId!}">${label.labelName!}</a>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% include("/common/aside.html"){} %>
        </div>
    </main>
    <% include("/common/footer.html"){} %>
</div>
<script type="text/javascript">
    var color = ["#818181", "#A7A7A7", "#5C5C5C", "#111111", "#CCCCCC"];
    var labelList = "${labelList!}";
    for (label in labelList) {
        var l = document.getElementById("label" + label.labelId);
        // l.style.fontSize = Math.round(Math.random()) * 20 + 10 + "px";
        // l.style.color = color[Math.round(Math.random()) * 5];
    }
</script>
</body>
</html>
