<!DOCTYPE html>
<html lang="cn">
<head>
    <title>管理</title>
    <% include("/auth/common/meta.html"){} %>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-card">
            <div class="layui-form" style="margin: 20px">
                <div class="layui-form-item">
                    <label class="layui-form-label" for="labelName">
                        类名
                    </label>
                    <div class="layui-input-block">
                        <input autocomplete="off" class="layui-input" id="labelName" name="labelName"
                               required="" type="text" value="" placeholder="请输入类名">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"></label>
                    <button class="layui-btn" lay-filter="save" lay-submit="">增加类名</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/resources/layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '/resources/layuiadmin/' // 静态资源所在路径
    }).extend({
        index: 'lib/index' // 主入口模块
    }).use(['jquery', 'form'], function () {
        var form = layui.form
            , $ = layui.$;

        form.on('submit(save)', function (data) {
            let index = parent.layer.getFrameIndex(window.name);
            $.ajax({
                url: '/auth/label/add',
                type: 'POST',
                dataType: 'json',
                data: data.field,
                success: function (result) {
                    if (result.ok) {
                        layer.msg("发表成功", {icon: 6, time: 1000}, function () {
                            parent.layui.table.reload('manage');
                            parent.layer.close(index);
                        });
                    } else {
                        layer.msg(result.msg, {icon: 5});
                    }
                }
            });
            return false;
        });
    });
</script>
</body>
</html>