<!DOCTYPE html>
<html lang="cn">
<head>
    <title>概况</title>
    <% include("/auth/common/meta.html"){} %>
</head>
<body>
<%
var user = obj.user!,
config = obj.config!,
articleList = obj.articleList!,
articleCount = obj.articleCount!,
trafficVolume = obj.trafficVolume!,
labelCount = obj.labelCount!,
commentList = obj.commentList!,
commentCount = obj.commentCount!,
friendCount = obj.friendCount!,
userCount = obj.userCount!,
serverPort = obj.serverPort!,
serverHost = obj.serverHost!;
%>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md8">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md6">
                    <div class="layui-card">
                        <div class="layui-card-header">快捷方式</div>
                        <div class="layui-card-body">
                            <div class="layui-carousel layadmin-carousel layadmin-shortcut">
                                <div carousel-item>
                                    <ul class="layui-row layui-col-space10">
                                        <li class="layui-col-xs3">
                                            <a lay-href="/auth/comment">
                                                <i class="layui-icon layui-icon-console"></i>
                                                <cite>评论管理</cite>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs3">
                                            <a lay-href="/auth/article">
                                                <i class="layui-icon layui-icon-chart"></i>
                                                <cite>文章管理</cite>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs3">
                                            <a lay-href="/auth/label">
                                                <i class="layui-icon layui-icon-template-1"></i>
                                                <cite>分类管理</cite>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs3">
                                            <a lay-href="/auth/user">
                                                <i class="layui-icon layui-icon-chat"></i>
                                                <cite>用户管理</cite>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs3">
                                            <a lay-href="/auth/friend">
                                                <i class="layui-icon layui-icon-find-fill"></i>
                                                <cite>好友管理</cite>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="layui-col-md6">
                    <div class="layui-card">
                        <div class="layui-card-header">概况</div>
                        <div class="layui-card-body">
                            <div class="layui-carousel layadmin-carousel layadmin-backlog">
                                <div carousel-item>
                                    <ul class="layui-row layui-col-space10">
                                        <li class="layui-col-xs6">
                                            <a class="layadmin-backlog-body">
                                                <h3>访问量</h3>
                                                <p><cite>${trafficVolume!}</cite></p>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs6">
                                            <a lay-href="/auth/article" class="layadmin-backlog-body">
                                                <h3>文章数</h3>
                                                <p><cite>${articleCount!}</cite></p>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs6">
                                            <a lay-href="/auth/comment" class="layadmin-backlog-body">
                                                <h3>评论数</h3>
                                                <p><cite>${commentCount!}</cite></p>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs6">
                                            <a lay-href="/auth/user" class="layadmin-backlog-body">
                                                <h3>用户量</h3>
                                                <p><cite>${userCount!}</cite></p>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-col-md4">
            <div class="layui-card">
                <div class="layui-card-header">博客信息</div>
                <div class="layui-card-body layui-text">
                    <table class="layui-table">
                        <colgroup>
                            <col width="100">
                            <col>
                        </colgroup>
                        <tbody>
                        <tr>
                            <th>博客名称</th>
                            <td>南溟有猫</td>
                        </tr>
                        <tr>
                            <td>好友总数</td>
                            <td>${friendCount!}</td>
                        </tr>
                        <tr>
                            <td>IP地址</td>
                            <td>${serverHost!}</td>
                        </tr>
                        <tr>
                            <td>端口</td>
                            <td>${serverPort!}</td>
                        </tr>
                        <tr>
                            <td>作者</td>
                            <td>南溟</td>
                        </tr>
                        <tr>
                            <td>基于框架</td>
                            <td>
                                Layui&nbsp;2.4.5&nbsp;|&nbsp;Nutz&nbsp;1.r.68&nbsp;|&nbsp;jQuery&nbsp;3.4.1
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/resources/layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '/resources/layuiadmin/' // 静态资源所在路径
    }).extend({
        index: 'lib/index' // 主入口模块
    }).use(['index', 'console']);
</script>
</body>
</html>

