<meta charset="UTF-8">
<link rel="shortcut icon" href="/resources/images/avatar.png" type="image/x-icon"/>
<link href="/resources/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="/resources/css/main.css" rel="stylesheet" type="text/css">
<link href="/resources/css/south.css" rel="stylesheet" type="text/css">
<link href="/resources/css/comment.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/resources/js/jquery.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/resources/layuiadmin/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="/resources/js/post-details.js" charset="utf-8"></script>
<script type="text/javascript" src="/resources/js/scrollspy.js" charset="utf-8"></script>