<!DOCTYPE html>
<html lang="cn">
<head>
    <title>评论编辑</title>
    <% include("/auth/common/meta.html"){} %>
</head>
<body>
<%
var comment = obj.comment!;
%>
<div class="layui-fluid" style="margin: 20px;">
    <form class="layui-form" action="">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <input name="commentId" type="hidden" value="${comment.commentId!}">
                <input name="articleId" type="hidden" value="${comment.articleId!}">
                <div class="layui-form-item layui-form-text">
                    <textarea name="content" id="content" lay-verify="content" style="display: none;">${comment.content!}</textarea>
                </div>
                <div class="layui-form-item">
                    <button class="layui-btn" lay-submit lay-filter="post" style="width: 100%">发表评论</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="/resources/layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '/resources/layuiadmin/' // 静态资源所在路径
    }).extend({
        index: 'lib/index' // 主入口模块
    }).use(['form', 'laydate', 'layedit', 'jquery'], function () {
        var laydate = layui.laydate
            , layedit = layui.layedit
            , $ = layui.$
            , form = layui.form;
        laydate.render({
            elem: '#dataPickup' // 指定元素
        });

        layedit.set({
            uploadImage: {
                url: '/upload/comment'
                , type: 'post'
            }
        });
        var index = layedit.build('content', {
            tool: ['strong', 'italic', 'underline', 'del', '|', 'left', 'center', 'right', 'link', 'unlink', 'face', 'image']
        });
        form.verify({
            content: function () {
                layedit.sync(index);
            }
        });
        form.render();
        //监听提交
        form.on('submit(post)', function (data) {
            let index = parent.layer.getFrameIndex(window.name);
            $.ajax({
                url: '/auth/comment/edit',
                type: 'POST',
                dataType: 'json',
                data: data.field,
                success: function (result) {
                    if (result.ok) {
                        layer.msg("发表成功", {icon: 6, time: 1000}, function () {
                            parent.layui.table.reload('manage');
                            parent.layer.close(index);
                        });
                    } else {
                        layer.msg(result.msg, {icon: 5});
                    }
                }
            });
            return false;
        });
    });

    layui.use(['layer', 'form'], function () {
        var layer = layui.layer,
            $ = layui.jquery,
            form = layui.form;

        layui.use('layedit', function () {
            var layedit = layui.layedit;
            var index = layedit.build('pattern', {height: 140});
            /**
             * pattern是lay-verify="pattern"（下面的）
             * 将富文本里的内容赋值到textarea里面
             */
            form.verify({
                pattern: function () {
                    layedit.sync(index);
                }
            });
            form.render();
        });

        $(window).on('load', function () {
            form.on('submit(admin)', function (data) {
                $.ajax({
                    url: "{:url('admin/xxxx/xxx')}",
                    data: $('#admin').serialize(),
                    //获取到所有form中提交的
                    type: 'post',
                    success: function (res) {
                        if (res.code == 1) {
                            layer.alert(res.msg, function (index) {
                                location.href = res.url;
                            })
                        } else {
                            layer.msg(res.msg);
                        }
                    }
                })
                return false;
            });
        });
    });
</script>
</body>
</html>