<!doctype html>
<html lang="cn">
<head>
    <title>评论管理</title>
    <% include("../common/meta.html"){} %>
</head>
<body>
<!-- 顶部开始 -->
<% include("../common/top.html"){} %>
<!-- 顶部结束 -->
<!-- 中部开始 -->
<!-- 左侧菜单开始 -->
<% include("../common/left_nav.html"){} %>
<!-- <div class="x-slide_left"></div> -->
<!-- 左侧菜单结束 -->
<!-- 右侧主体开始 -->
<div class="page-content">
    <div class="weadmin-body">
        <blockquote class="layui-elem-quote">评论管理</blockquote>
        <div class="layui-card">
            <div class="layui-card-body">
                <div class="layui-row">
                    <form class="layui-form layui-col-md12 we-search">
                        <div class="layui-inline">
                            <input type="text" name="content" autocomplete="off" placeholder="请输入评论内容"
                                   class="layui-input">
                        </div>
                        <div class="layui-inline">
                            <input type="text" id="startTime" name="createTime" autocomplete="off"
                                   placeholder="开始时间"
                                   class="layui-input">
                        </div>
                        <div class="layui-inline">
                            <input type="text" id="endTime" name="updateTime" autocomplete="off" placeholder="结束时间"
                                   class="layui-input">
                        </div>
                        <div class="layui-inline">
                            <button class="layui-btn" lay-submit lay-filter="search"><i
                                    class="layui-icon">&#xe615;</i>
                            </button>
                        </div>
                    </form>
                </div>
                <table class="layui-hide" id="manage" lay-filter="manage"></table>
                <script type="text/html" id="topbar">
                    <div class="layui-btn-container">
                        <button class="layui-btn layui-btn-danger" lay-event="delAll"><i class="layui-icon"></i>批量删除
                        </button>
                    </div>
                </script>
                <script type="text/html" id="toolbar">
                    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete">删除</a>
                </script>
            </div>
        </div>

    </div>
</div>
<div class="page-content-bg"></div>
<!-- 右侧主体结束 -->
<!-- 中部结束 -->
<!-- 底部开始 -->

<% include("../common/footer.html"){} %>
<!-- 底部结束 -->
<script type="text/javascript">
    layui.config({
        base: '/resources/static/js/'
    }).use('admin');

    layui.use(['table', 'jquery', 'form'], function () {
        var table = layui.table
            , form = layui.form
            , $ = layui.$;


        var manage = table.render({
            elem: '#manage'
            , url: '/auth/comment/list'
            , method: 'post'
            , toolbar: '#topbar'
            , cellMinWidth: 80
            , cols: [[
                {type: 'numbers'},
                {type: 'checkbox'},
                {
                    field: 'article', title: '标题'
                    , templet: function (data) {
                        if (data.labelId == 0)
                            return "";
                        else
                            return data.article.title;
                    }
                },
                {field: 'content', title: '内容'},
                {
                    field: 'user', title: '评论用户'
                    , templet: function (data) {
                        return data.user.nickname;
                    }
                    , width: 120
                },
                {field: 'createTime', title: '时间', width: 120},
                {fixed: 'right', align: 'center', toolbar: '#toolbar', width: 160}
            ]],
            page: true
        });


        table.on('toolbar(manage)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'delAll':
                    $.ajax({
                        url: '/auth/comment/deleteList',
                        type: 'POST',
                        dataType: 'json',
                        data: JSON.stringify(checkStatus.data),
                        success: function (result) {
                            if (result.ok) {
                                layer.msg('删除成功', {icon: 6, time: 1000}, function () {
                                    manage.reload();
                                });
                            } else {
                                layer.msg(result.msg, {icon: 5, time: 2000});
                            }
                        }
                    });
                    break;
            }
        });

        table.on('tool(manage)', function (obj) {
            var data = obj.data;
            if (obj.event === 'delete') {
                $.ajax({
                    url: '/auth/comment/delete',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        commentId: data.commentId
                    },
                    success: function (result) {
                        if (result.ok) {
                            layer.msg('删除成功', {icon: 6, time: 1000}, function () {
                                manage.reload();
                            });
                        } else {
                            layer.msg(result.msg, {icon: 5, time: 2000});
                        }
                    }
                });
            } else if (obj.event === 'edit') {
                layer.open({
                    type: 2,
                    title: '评论编辑',
                    content: '/auth/comment/edit/' + data.commentId,
                    area: ['1000px', '900px']
                })
            }
        });

        //监听提交
        form.on('submit(search)', function (data) {
            manage.reload({
                where: data.field
            });
            return false;
        });
    });
</script>
</body>
</html>