<!DOCTYPE html>
<html lang="cn">
<head>
    <title>评论管理</title>
    <% include("/auth/common/meta.html"){} %>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-card">
            <div class="layui-form layui-card-header layuiadmin-card-header-auto">
                <div class="layui-inline">
                    <input autocomplete="off" class="layui-input" name="content" placeholder="请输入评论内容"
                           type="text">
                </div>
                <div class="layui-inline">
                    <input autocomplete="off" class="layui-input" id="startTime" name="createTime"
                           placeholder="开始时间" type="text">
                </div>
                <div class="layui-inline">
                    <input autocomplete="off" class="layui-input" id="endTime" name="updateTime"
                           placeholder="结束时间" type="text">
                </div>
                <div class="layui-inline" style="line-height: 5px;">
                    <button class="layui-btn layuiadmin-btn-useradmin" lay-filter="search" lay-submit="">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                </div>
            </div>
            <div class="layui-card-body">
                <table class="layui-hide" id="manage" lay-filter="manage"></table>
                <script id="topbar" type="text/html">
                    <div class="layui-btn-container">
                        <button class="layui-btn layuiadmin-btn-role layui-btn-sm layui-btn-danger"
                                lay-event="batchDel" data-type="batchDel">批量删除
                        </button>
                    </div>
                </script>
                <script id="toolbar" type="text/html">
                    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete">删除</a>
                </script>
            </div>
        </div>
    </div>
</div>
<script src="/resources/layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '/resources/layuiadmin/' // 静态资源所在路径
    }).extend({
        index: 'lib/index' // 主入口模块
    }).use(['table', 'jquery', 'form'], function () {
        var table = layui.table
            , form = layui.form
            , $ = layui.$;

        var manage = table.render({
            elem: '#manage'
            , url: '/auth/comment/list'
            , method: 'post'
            , toolbar: '#topbar'
            , cellMinWidth: 80
            , cols: [[
                {type: 'numbers'},
                {type: 'checkbox'},
                {
                    field: 'article', title: '标题'
                    , templet: function (data) {
                        if (data.labelId == 0)
                            return "";
                        else
                            return data.article.title;
                    }
                },
                {field: 'content', title: '内容'},
                {
                    field: 'user', title: '评论用户'
                    , templet: function (data) {
                        return data.user.nickname;
                    }
                    , width: 120
                },
                {field: 'createTime', title: '时间', width: 120},
                {fixed: 'right', align: 'center', toolbar: '#toolbar', width: 160}
            ]],
            page: true
        });

        table.on('toolbar(manage)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'batchDel':
                    $.ajax({
                        url: '/auth/comment/batchDel',
                        type: 'POST',
                        dataType: 'json',
                        data: JSON.stringify(checkStatus.data),
                        success: function (result) {
                            if (result.ok) {
                                layer.msg('删除成功', {icon: 6, time: 1000}, function () {
                                    manage.reload();
                                });
                            } else {
                                layer.msg(result.msg, {icon: 5, time: 2000});
                            }
                        }
                    });
                    break;
            }
        });

        table.on('tool(manage)', function (obj) {
            var data = obj.data;
            if (obj.event === 'delete') {
                $.ajax({
                    url: '/auth/comment/delete',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        commentId: data.commentId
                    },
                    success: function (result) {
                        if (result.ok) {
                            layer.msg('删除成功', {icon: 6, time: 1000}, function () {
                                manage.reload();
                            });
                        } else {
                            layer.msg(result.msg, {icon: 5, time: 2000});
                        }
                    }
                });
            } else if (obj.event === 'edit') {
                layer.open({
                    type: 2,
                    title: '评论编辑',
                    content: '/auth/comment/edit/' + data.commentId,
                    area: ['700px', '500px']
                })
            }
        });

        //监听提交
        form.on('submit(search)', function (data) {
            manage.reload({
                where: data.field
            });
            return false;
        });
    });
</script>
</body>
</html>